# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android/Gradle
android/.gradle/
android/local.properties
android/app/build/
.gradle/

# IDE
.idea/
.vscode/
*.iml

# Generated / local artifacts
*.apk
*.aab
*.ap_
*.hprof
*.log

# OS
.DS_Store
Thumbs.db
android/key.properties
*.jks